/* landing page */

body 
{
background-color: #505050;	
margin: 0px;
user-select: none;
}

#logo 
{
align: center;
height: 100px;
width:100%;
border: solid black 2px;
font-size: 500%;
color: white;
background-color: #303030;
text-transform: uppercase;
text-align: center;
padding-bottom: 30px;
font-family: 'Oswald', sans-serif;


}

.wrapper {
	width: 100%;
	margin: 0px;
	 background-image: url("photos/oriental-tiles.png") /* Background pattern from Toptal Subtle Patterns */
	
}


.title 
{
	text-align: center;
	text-transform: uppercase;
	font-size: 24px;
	padding-top: 2px;
	
}


.mainmenu 
{
	
	width: 100%;
	font-size: 24px;
	background-color: #303030;
	height: 81px;
	color: white;
	border: 2px solid #D3D3D3;
	
	
	
}

ul.menulist 
{
	 display: inline-flex;
	 list-style: none;
	
}

.login 
{

	width: 470px;
	float: left;
	text-align: center;
	height: 60px;
	padding: 7px;
	padding-top: 8px;
	padding-bottom: 9px;
	font-size: 25px;


}

a.logowanie
{
	
	text-decoration: none;
	width: 200px;
	height: 60px;
	line-height: 60px;
	float: left;
	align: center;
	text-align: center;
	vertical-align: middle;
	line-height: 60px;
	border: 1px solid #D3D3D3;
	display: block;
	margin-left: 20px;
	letter-spacing: 1px;
	color: white;

}



a.logowanie:hover 
{
	color: #FF8000;
	background-color: #414141;
	
}


.nawigacja 
{
	float: left;
	padding: 7px;
	padding-top: 8px;
	padding-bottom: 9px;
	font-size: 25px;
	font-stretch: ultra-condensed;
	border-right: 2px solid #D3D3D3;
	border-left: 0;
	width: 650px;
	

}

ul 
{
  list-style-type: none;
  text-align: center;
  margin: 0 0 0 -40px;
}

ul > li 
{

	margin-left: 5px;
	letter-spacing: 1px;
	width: 120x;
	height: 60px;
	align: center;
	text-align: center;
	vertical-align: middle;
	line-height: 60px;
	border: 1px solid #D3D3D3;
	
	
}

ul > li > ul
{
	display: none;
}

ul > li:hover > ul
{
	display: block;
}

ul > li > ul > li 
{
	margin-left: 5px;
	letter-spacing: 1px;
	width: 120x;
	height: 60px;
	align: center;
	text-align: center;
	vertical-align: middle;
	line-height: 60px;
	border: 1px solid #D3D3D3;
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 100;
	
	
}

ul > li > ul > li > a
{
	letter-spacing: 1px;
	text-decoration: none;
	text-align: center;
	color: white;
	display: block;
	width: 120x;
	height: 60px;
	align: center;
	background-color: #303030;
}

ul > li > ul > li > a:hover
{
	color: #FF8000;
	background-color: #414141;
}



#clock 
{

	float: left;
	padding-top: 15px;
	font-size: 40px;
	margin-left: -5px;
	padding-bottom: 9px;
	border-right: 2px solid #D3D3D3;
	border-left: 2px solid #D3D3D3;
	height: 60px;
	padding-left: 5px;
	padding-right: 5px;
	
}

.media 
{
	height: 60px;
	width: 45px;
	float: right;
	border-right: 0;
}





.content 
{

	padding: 5px;
	clear: both;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	border: solid #D3D3D3 2px;
	border-top: 0;
	border-bottom: 0;
	color: white;
	background-color: #303030;


}


.text 
{
	padding-left: 5px;
	padding-right: 5px;
	text-indent: 20px;
	text-align: justify;
	
	
	
}




.mySlides 
{
	display: none;
}



a.medialinks
{
	text-decoration: none;
	color: white;
	padding-left: auto;
	padding-right: auto;
	width: 40px;


}

a.navlink
{
	text-decoration: none;
	color: white;
	height: 100%;
	width: 100%;
	display: block;
	width: 120px;
	color: white;
}

a.navlink:hover 
{
	color: #FF8000;
	background-color: #414141;
	
}


.footer 
{
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	width: 100%;
	color: white;
	background-color: #414141;
	border-top: 2px solid #D3D3D3;
}

.sticky 
{
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
}

/* shop subsite */

.shop-wrapper 
{
	margin: 0;
	padding: 0;
	color: white;
	width: 100%;
	
}

.shop-search
{
	align: center;
	text-align: center;	
	
	
}
